.presidente {
	align-self: flex-start;

	font-weight: lighter;
	position: absolute;
	width: 100%;
	height: 100%;
}

.presidente h3 {
	font-weight: lighter;
	font-size: 25px;
	width: 100%;
	text-align: center;
	top: 7%;
	position: absolute;
}

.inputPresidente {
	display: flex;
	position: absolute;
	left: 10%;
	top: 35%;
	gap: 5%;
}

.presidente input {
	width: 50px;
	height: 60px;
	background-color: transparent;
	font-size: 2rem;
	text-align: center;
}

.warning h2 {
	margin-bottom: 5%;
}

.warning p {
	font-weight: bold;
}

.warning span {
	margin-right: 2%;
}

.span-confirma {
	color: rgb(9, 160, 9);
}
.span-corrige {
	color: rgba(255, 102, 0, 0.979);
}

.beginVotation h2 {
	font-size: 30px;
	text-align: start;
	margin-bottom: 5%;
	font-weight: 300;
}
.beginVotation span {
	font-weight: bold;
}

.statusCandidate {
	width: 40%;
	height: 70%;
	top: 5%;
	right: 10%;
	position: absolute;
}

.statusCandidate img {
	width: 50%;
	position: absolute;
	left: 0;
	top: 45%;
}
.statusCandidate span {
	font-size: 100%;
	position: absolute;
	top: 37%;
	left: 0;
}

.statusCandidate p {
	font-size: 100%;
	position: absolute;
	top: 30%;
	left: 0;
}

.display footer {
	position: absolute;
	bottom: 2%;
}
