@keyframes btnAnimation {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

@keyframes showOffDisplay {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes showOnDisplay {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes flashing {
	from {
		border-color: black;
	}

	to {
		border-color: rgb(217, 225, 226);
	}
}
